body {
  /* background: #000000; */
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #616161;
  color: white;
}

p {
  font-size: 6px
}

.page-mask {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#app {
  width: 100%;
  height: 100%;
  padding-left: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.ready-button {
  font-size: 25px;
  text-shadow: -1px 1px #346392;
  padding: 12px;
  padding-top: 14px;
  border-radius: 5px;
  color: white;
  background-image: linear-gradient( #35608b, #002952);
  border: none;
  position: absolute;
  right: 25px;
  top: 20px;
  z-index: 1;
  font-family: 'Orbitron', sans-serif;
}

.ready-button:hover,
.ready-button.hover {
  /* box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047; */
  border-color: blue;
  border-style: solid;
  border-width: 1px;
}

.ready-button:active,
.ready-button.active {
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}

.map {
  background-image: url('/img/mission_map.jpeg');
  background-repeat: no-repeat;
  /* background: #000000; */
  background-size: 110%;
  position: relative;
  width: 1300px;
  height: 750px;
  text-align: center;
}

.undeployed {
  /* display: flex; */
  position: absolute;
  width: 95%;
  height: 140px;
  /* background: black; */
  border-color: #2196f3;
  border-width: 1px;
  border-style: solid;
  background: black;
  bottom: 0;
  right: 35px;
  color: white;
  text-align: left;
  /* padding: 10px, auto, 10px, auto; */
  size: 10px;
  /* margin: 10px; */
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  overflow: scroll;
}

.undeployed-header {
  font-size: 10px;
  font-family: 'Orbitron', sans-serif;
}

.ud-container {
  display: flex;
}

/* d */
.unit-icon {
  position: relative;
}

.unit-undeployed {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 10px;
  background: grey;
  text-align: center;
  border-color: lightgrey;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

.unit-points {
  position: absolute;
  color: white;
  /* right: 10px; */
  bottom: 10px;
  margin-left: 10px;
  background-color: darkred;
  font-size: 25px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-weight: bold;
}

.unit-deployed-points {
  position: absolute;
  color: white;
  /* right: 10px; */
  bottom: 0px;
  margin-left: 5px;
  margin-bottom: 7px;
  background-color: darkred;
  font-size: 15px;
  width: 18px;
  height: 18px;
  text-align: center;
  font-weight: bold;
}

.unit-undeployed:hover {
  border-color: red;
  border-width: 2px; 
}

.unassigned {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 10px;
  background: grey;
}

.team {
  display: flex;
  margin-left: 10px;
  text-align: center;
  height: 60px;
}

.team-header {
  height: 5px;
}

.unit-deployed {
  background: darkblue;
  height: 60px;
  width: 60px;
  border-color: lightgrey;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin-right: 10px;
}

.enemy {
  background: darkred;
  height: 60px;
  width: 60px;
}

.result {
  padding-top: 50px;
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 0px;
  background: black;
  width: 230px;
  height: 112px;
  text-align: center;
  vertical-align: middle;
  border-radius: 15px;
  font-size: 50px;
  opacity: .90;
  font-family: 'Orbitron', sans-serif;
}

.round-header {
  position: absolute;
  background: black;
  width: 50%;
  height: 5%;
  left: 325px;
  font-family: 'Orbitron', sans-serif;
  border-left: darkred;
  border-right: darkred;
  border-bottom: darkred;
  border-style: solid;
  border-top-width: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 35px;
  padding-top: 10px;
}