
.zone {
    background: rgb(0,0,0,.85);
    border-style: solid;
    border-color: #5a0600;
    border-width: 1px;
    color: white;
    /* opacity: .80; */
    width: 230px;
    height: 202px;
    margin: 3px;
    border-radius: 15px;
    position: absolute;
  }
  
  .zone-header {
    background: #5a0600;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 12%;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
    opacity: 1;
    font-family: 'Orbitron', sans-serif;
  }
  
  #new-york {
    top: 225px;
    left: 215px
  }

  #london {
    top: 125px;
    left: 485px;
  }

  #seoul {
    top: 225px;
    /* left: 1000px */
    right: 60px
  }

  #wakanda {
    bottom: 150px;
    left: 640px
  }

  #sokovia {
    right: 315px;
    top: 160px
  }